---
import Layout from '../../layouts/Layout.astro';
import { getUser } from '../../lib/auth';
import { loadBuilderData } from '../../lib/builder-data';
import DeckBuilder from '../../components/DeckBuilder';

const user = await getUser(Astro);
if (!user) return Astro.redirect('/api/auth/signin');

const { heroOptions, cardPool } = await loadBuilderData();
---

<Layout title="Deck Builder">
  <div id="heroes-data" data-heroes={JSON.stringify(heroOptions)} class="hidden"></div>
  <div id="cards-data" data-cards={JSON.stringify(cardPool)} class="hidden"></div>
  <div id="user-data" data-user-id={user.id} class="hidden"></div>
  <div id="initial-state" data-step="hero" class="hidden"></div>
  <DeckBuilder client:load />
</Layout>
