---
import Layout from '../layouts/Layout.astro';
import { getUser, getUserOwnedPacks } from '../lib/auth';
import CollectionGrid from '../components/CollectionGrid';

const user = await getUser(Astro);
if (!user) return Astro.redirect('/api/auth/signin');

const ownedPacks = await getUserOwnedPacks(user.id as string);
---

<Layout title="My Collection">
  <div>
    <h1>My Collection</h1>
    <p>Track which packs you own</p>
  </div>

  <CollectionGrid client:load initialOwned={ownedPacks} />
</Layout>
